body{
    position: relative;
    min-height: 100vh;
}

#box-jam{
    height: 25px;
    background-color:#343f52;
    color: white;
}

#jam{
    margin-top: 10px;
}

.nav{
    height: 100px;
    z-index: 100;
}

html{
    scroll-behavior: smooth;
}

#footer-info{
    color: white;
    background-color: #343f52;
    padding: 10px 10px 10px 10px;
    min-height: 350px;
}

#copyright{
    background-color: #262b32;
    color: white;
    bottom: 0;
    position: absolute;
}

#container-layanan{
    margin-top: 10px;
}

#judul-layanan{
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    border-color: #198754;
}

.card-glow:hover{
    box-shadow: 0 0 10px 5px #F0F0F0;
}

footer > p{
    text-align: center;
}

a{
    color: white;
}

.sosmed-icon{
    padding: 0px 5px 5px 0px;
}

.sosmed-icon:hover{
    color: #1bbd36;
}

.bi-whatsapp, .bi-instagram, .bi-facebook, .bi-twitter, .bi-youtube{
    font-size: 32px;
}

.img-apps-footer{
    width: 100%;
    margin-top: 5px;
}

#img-sejarah{
    width: 60%;
}

#gbr-maklumat, #gbr-alur-pelayanan{
    width: 50%;
}


@media only screen and ( max-width: 768px) {}